<!-- <div ng-include="'partials/navbar'"></div> -->

<!-- <div class="jumbotron">
  <h1>hi andrew</h1>
  <div class="test">asoetuhasnoteuhaoe</div>
</div> -->

<div id="home">
  <div class="top" style="background-image: url(images/Icon_0305.png)">
    
    <section class="branding">
      <div>Earth Channel</div>
    </section>

    <section class="menu">
      <div class="container">
        <div class="select">
          Select
        </div>
        <ul>
          <li id="record">
            <a href="/record">
              <div style="background-image:url(images/torus-modern-large.jpg)"></div>
            </a>
          </li>
          <li id="travel">
            <a href="/travel">
              <div style="background-image:url(images/torus-modern-large.jpg)"></div>
            </a>
          </li>
          <li id="cover">
            <a href="/cover">
              <div style="background-image:url(images/torus-modern-large.jpg)"></div>
            </a>
          </li>
        </ul>
      </div>

    </section>
    <div class="learn-more">
      ?
    </div>
  </div>
  
  <div class="middle">
 
  </div>

  <div class="bottom">
    <section class="about">
      <div class="container">
        <p>Here is a description of what these two DeWdS are up to, I really hope you like it!!!!!</p>
        <p>Here is a description of what these two DeWdS are up to, I really hope you like it!!!!!</p>
        <p>Here is a description of what these two DeWdS are up to, I really hope you like it!!!!!</p>
        <h1><a href="mailto:hello@earthchannel.com">hello@earthchannel.com</a></h1>
      </div>
    </section>
  </div>
</div>