<!-- <div ng-include="'partials/navbar'"></div> -->

<!-- <div class="jumbotron">
  <h1>hi andrew</h1>
  <div class="test">asoetuhasnoteuhaoe</div>
</div> -->

<div id="home">
  <div class="container">
    <section class="branding">
      branding
    </section>
    <section class="menu">
      <ul>
        <li id="record">
          <a href="/record">record</a>
        </li>
        <li id="travel">
          <a href="/travel">travel</a>
        </li>
        <li id="cover">
          <a href="/cover">cover</a>
        </li>
      </ul>
    </section>
    <section class="about">
      about us blah blah blah
    </section>
  </div>
</div>