<div class="description">
<!-- 	<a href="/">
	<div class="branding">
		Earth Channel
	</div>
	</a>
	
	<div class="title-block">
		<div class="icon">
			<img class="icon" src="/svg/MenuSubMenuArrow_0305.svg">
		</div>
		<div class="title">
			{{title}}
		</div>
	</div>
	<div class="about-block">
		{{about}}
	</div> -->
	

</div>

<div class="navigation">
<!-- 	<div class="arrows">
		<div class="previous">
			<a href="{{previous}}">
				<img class="icon" src="/svg/MenuPrevArrow_0305.svg">
			</a>
		</div>

		<div class="next">
			<a href="{{next}}">
				<img class="icon" src="/svg/MenuNextArrow_0305.svg">
			</a>
		</div>
	</div> -->
</div>